.auth-form {
  margin: 0 auto;
  width: 340px;
}
.auth-form-body {
  background-color: #ffffff;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  font-size: 14px;
  padding: 20px;
}
.auth-form label {
  display: block;
  margin-bottom: 7px;
  font-weight: 600;
}
.input-block {
  display: block;
  width: 96%;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
  color: #24292e;
  font-size: 16px;
  line-height: 20px;
  min-height: 24px;
  outline: none;
  padding: 6px;
  vertical-align: middle;
}
.signin-btn {
  display: block;
  text-align: center;
  width: 100%;
  min-height: 24px;
  margin-top: 20px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
  color: #fff;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding: 8px 12px;
  position: relative;
}

// SignIn form
.auth-form-header h1 {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
  background-color: transparent;
  border: 0;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: none;
}
.label-link {
  float: right;
  font-size: 12px;
  color: #0366d6;
  text-decoration: none;
}
.create-account-callout {
  border: 1px solid #d8dee2;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  margin-top: 16px;
}
